@import "tailwindcss" source(none);
@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    cupcake,
    bumblebee,
    emerald,
    corporate,
    synthwave;
  logs: false;
}

@source "../../";

html,
body {
  height: 100%;
}
